<% if logged_in? %>


<div class="cart">    
  <%= render @cart %>  
</div>


<h1> Menu for today</h1>
<div class="col-md-3">
  <i>FIRST COURSE</i>
<% @products.where(dish_category: "First course", order_date: Time.now.strftime("%A") ).each do |product| %>
  <div class="entry">
    <%= image_tag(product.avatar.url(:thumb)) %>
      <h3><%= product.title %></h3>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product), 
      class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<div class="col-md-3">
  <i>MAIN COURSE</i>
<% @products.where(dish_category: "Main course", order_date: Time.now.strftime("%A") ).each do |product| %>
  <div class="entry">
    <%= image_tag(product.avatar.url(:thumb)) %>
      <h3><%= product.title %></h3>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product), 
      class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<div class="col-md-3">
  <i>DRINK</i>
<% @products.where(dish_category: "Drink", order_date: Time.now.strftime("%A") ).each do |product| %>
  <div class="entry">
    <%= image_tag(product.avatar.url(:thumb)) %>
      <h3><%= product.title %></h3>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product), 
      class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<% else %>

<div class="center jumbotron">
  <h1>Lunch app</h1>

  <h2>coming soon</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<% end %>
