<h2>Please Enter Your Details</h2>
<%= form_for (@order) do |f| %>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control'%>

      <%= f.submit "Place order", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
