<h1>All dishes</h1>
<ul class="users">
  <% @products.each do |product| %>
    <li>
      <%= image_tag(product.avatar.url(:thumb)) %>
      Name: <%= product.title %>,
      Dish category: <%= product.dish_category %>,
      Price: <%= product.price %> |
      
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>